<!DOCTYPE html>
<html>
  <head>
    <% include src/templates/head.ejs %>
    <title></title>
  </head>
  <body>
    <div id="app"></div>
    <% include src/templates/rem.ejs %>
    <% include src/templates/script.ejs %>
    <!-- built files will be auto injected -->
  </body>
</html>
